.button--show-answer {
  border: solid 1px lightgrey;
  border-radius: 13px;
  padding: 10px 14px;
  font-size: 0.8rem;
  font-weight: 650;
  cursor: pointer;
  margin-bottom: 30px;
  background-color: lightgray;
  color: rgba(0, 0, 0, 0.671);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.button--show-answer:hover {
  background-color: lightcoral;
  color: whitesmoke;
}

/****************************************************************************
/ answer is hidden. clicking on the answer-button shows the answer (only CSS)

.button--show-answer:focus + .card-answer {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
}

****************************************************************************/
