.question-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.cards {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards .card {
  list-style-type: none;
  background-color: var(--color-card-background);
  border: solid 2px var(--color-card-border);
  border-radius: 15px;
  padding: 20px;
  margin: 0 10px 20px 10px;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
  flex: 1 1 auto;
}

.card .bookmark {
  background: none;
  border: none;
  position: absolute;
  top: -8px;
  right: 7px;
  cursor: pointer;
}

.card .bookmark .bookmark-icon {
  width: 30px;
  height: 30px;
  margin: 0;
}

.card .card-question {
  margin: 15px 0 25px 0;
  color: var(--color-text);
}

.card .card-answer {
  margin: 0 0 30px 0;
  color: var(--color-text);
  font-weight: 600;
}

.hidden {
  display: none;
}

.card .categories {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 0 5px;
}

.card .categories li {
  margin: 0 6px 4px 0;
  border-radius: 10px;
  padding: 5px 10px 7px;
  font-size: 0.7rem;
  font-weight: 500;
  background-color: var(--color-categories-background);
  color: var(--color-categpries-text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
}
