.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 20px 20px 20px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-accent);
  margin: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1); /**** ROOT */
}

h2 {
  font-size: 24px;
  margin: 10px 0 40px 0;
  color: var(--color-accent);
}

.about-me {
  text-align: left;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 13px;
  background-color: var(--color-textbox-background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1); /**** ROOT */
  color: var(--color-text);
  font-weight: 500;
}

.about-me h3 {
  margin: 0 0 15px 0;
  font-size: 20px;
  border-bottom: 1px solid var(--color-accent);
  padding: 0 0 15px 0;
}

.profile-description {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.profile-description-list {
  margin: 10px 0 10px 0;
  padding: 0;
}

.profile-description-list li {
  list-style-position: inside;
  margin: 2px 0 0 10px;
  padding: 0;
}

.status {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  padding: 0;
  margin: 40px 0 40px 0;
}

.status .icon-questions .icon-questions-img {
  height: 47px;
  width: auto;
  margin-right: 3px;
  margin-left: 40px;
}

.status li {
  display: flex;
  align-items: center;
}

.status .icon-questions img {
  width: 60px;
  height: auto;
  margin: 0;
  padding: 0;
}

.status .icon-bookmarks img {
  width: 47px;
  height: auto;
  margin: 0;
  padding: 0;
}

.status span {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-accent);
  margin: 0 40px 0 5px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-textbox-background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1); /**** ROOT */
  margin: 0 0 20px 0;
  color: var(--color-text);
  font-weight: 500;
}

.settings-container h3 {
  margin: 0 0 15px 0;
  font-size: 20px;
  border-bottom: 1px solid var(--color-accent);
  width: 100%;
  padding-bottom: 15px;
}

.settings-dark-mode-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-dark-mode-container p {
  margin: 0;
}

.button-dark-mode {
  display: flex;
  align-items: center;
  width: 50px;
  height: 24px;
  background-color: var(--color-button-background);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.button-dark-mode .slider {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-button-slider);
  cursor: pointer;
  left: 6px;
}

.button-dark-mode.active {
  background-color: var(--color-button-slider-darkmode);
}

.button-dark-mode .slider.active {
  left: 28px;
}

/****************************************************************************** DARK MODE */
.about-me.dark-mode {
  background-color: var(--color-textbox-background-darkmode);
  color: var(--color-textbox-text-darkmode);
}

.settings-container.dark-mode {
  background-color: var(--color-textbox-background-darkmode);
  color: var(--color-textbox-text-darkmode);
}
